@media(min-width: 1000px){
    body {
        margin: 0;
        background-color: #000000;
        color: white;
    }
    
    
    .menu {
        position: relative;
        height: 100px;
        display: flex;
        align-items: center;
        margin: 0;
        background-color: #00b4fc;
        text-decoration: none;
    }

    .menu ul {
        display: flex;
        height: 100px;
        width: 600px;
    }
    
    .menu ul li {
        margin: 0;
        position: relative;
        height: 100px;
        width: 150px;
        list-style-type: none;
    }

    .menu li a {
        margin: 0;
        display: flex;
        height: 100%;
        width: 100%;
        color: white;
        text-decoration: none;
        align-items: center;
        justify-content: center;
    }
    
    .menu li:hover{
        cursor: pointer;
        background-color: #17f9ff;
    }
    
    #foto{
        height: 40px;
        width: 40px;
    }
    
    .social {
        display: inline;
        margin-left: 500px;
    }
    
    .home {
        height: 15px;
        width: 15px;
    }
    
}


